:root {
  --primary-color: #6161fe;
  --secondary-color: #2824ff;
  --dark-grey: #2b2b2b;
  --white: #ffffff;
  --white-purple: #eee8ff;
  --light-purple: #bbafe4;
  --dark-purple: #341d7b;
}

* {
  box-sizing: border-box;
}

/* general element design */
header {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.35;
}

h1 {
  flex: 1 1 auto;
  font-weight: 700;
  line-height: 1.25;
}

h2 {
  font-weight: 700;
  line-height: 1.2;
}

p {
  line-height: 1.1;
}

li {
  line-height: 1.5;
  list-style-type: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* header & footer section */
.page-header {
  display: flex;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--white-purple);
}

.logo {
  display: block;
  margin: auto;
  width: 380px;
  height: 60px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* navigation bar */
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  font-size: 26px;
  padding: 10px;
  margin: 0 auto;
}
.navigation-list li .navigation-list__item--active {
  text-decoration: none;
}

/* index.html */
.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  height: auto;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile__text {
  flex: 1 1 100px;
}

/* about.html */
.about-me {
  text-align: center;
}

.about-list {
  list-style-type: none;
  padding: 0%;
}

/* contact.html */
.contact-info {
  display: block;
  text-align: center;
  margin: auto;
  padding: 0%;
}

/* work.html */
#projects-title {
  text-align: center;
}

.grid {
  display: grid;
  grid: auto / 33% 33% 33%;
  gap: 20px;
  padding: 20px 20px;
  margin: auto;
  margin-right: 20px;
  font-size: 1vw;
}

@supports (display: grid) {
  .grid__item {
    background-color: var(--white-purple);
    height: 100%;
    margin: 0 auto;
  }
  .grid__item img {
    width: 90%;
    object-fit: cover;
    display: block;
    margin: auto;
    padding-top: 10px;
  }
  .grid__item video {
    width: 90%;
    height: 50%;
    display: block;
    margin: auto;
    padding-top: 10px;
  }
  .grid__item h2,
  p {
    text-align: center;
  }
  .grid__item li {
    list-style-type: disc;
  }
}

/* buttons */
button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  padding: 15px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.7s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* animations for boston-skyline.svg */
svg * {
  transform-box: fill-box;
}

svg {
  height: 533.33px;
  width: 800px;
  overflow:hidden;
  display: block;
  margin: 10px auto;
}

.svg-boston-logo {
  width: 100%;
  height: 100%;
}

.freepik-credit {
  text-align: center;
}

@keyframes color-change {
  0% {
    fill: var(--white-purple);
  }
  50% {
    fill: var(--light-purple);
  }
  100% {
    fill: var(--dark-purple);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(20px, 0px);
  }
  to {
    transform: translate(120px, 0px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(0px, -20px);
  }
  to {
    transform: translate(-100px, -20px);
  }
}

.cloud-left {
  animation: 34s cloud-move infinite alternate linear;
}

.cloud-right {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.boston-logo {
  animation: 1s color-change 1 alternate linear;
}
